body{
    background-color: #468C77;

}

h1{
    color: white;
    border: 5px solid black;
    box-sizing: border-box;

};
    
 



.texts{
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
}